.DS_Store
.venv/
src/forcingprocessor.egg-info/
src/forcingprocessor/__pycache__/
tests/__pycache__/
tests/data/
tests/*.txt
docs/examples/*/forcings
docs/examples/routing-only_example/hf2.2_ref_hf_map_nexus.json